/.env
backend/.env
backend/gateway_service/marketplace.sqlite
backend/rest_service/node_modules
/backend/rest_service/dist
node_modules
marketplace.sqlite
backend/rest_service/.env
/backend/realtime_service/api.exe