/.env
backend/.env
backend/gateway_service/marketplace.sqlite
backend/rest_service/node_modules
/backend/rest_service/dist
node_modules
marketplace.sqlite
backend/rest_service/.env

# Go binaries
/backend/realtime_service/*.exe
/backend/realtime_service/bin/
backend/realtime_service/api.exe
backend/realtime_service/main.exe