# Compose para pruebas locales: arranca Redis y dos instancias de la API
services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  api1:
    build: .
    env_file:
      - .env
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis
    ports:
      - "8085:8080"

  api2:
    build: .
    env_file:
      - .env
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis
    ports:
      - "8083:8080"
